@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #13c8ec;
  --color-background-dark: #081d24;
  --color-surface: var(--surface-color);
  
  --color-bg: var(--bg-color);
  --color-text: var(--text-color);
  --color-text-muted: var(--text-muted-color);
  --color-border: var(--border-color);
}

:root {
  --bg-color: #f8fafc;
  --text-color: #000000;
  --text-muted-color: #475569; /* slate-600 */
  --surface-color: #ffffff;
  --border-color: #e2e8f0;
}

:root.dark {
  --bg-color: #081d24;
  --text-color: #f1f5f9;
  --text-muted-color: rgba(204, 251, 241, 0.5); /* teal-100/50 */
  --surface-color: rgba(255, 255, 255, 0.05);
  --border-color: rgba(255, 255, 255, 0.1);
}

@layer base {
  body {
    @apply bg-bg text-text font-sans transition-colors duration-300;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
